.Histogram {
  height: 80px;
  display: flex;
  flex-direction: column;

  .bars {
    border: solid 1px rgba(black, .6);
    height: 100%;
    display: flex;
    align-items: flex-end;

    > div {
      width: 100%;
      background-color: rgba(black, .8);
    }
  }

  .labels {
    display: flex;
    justify-content: space-between;
    color: rgba(black, .4);
  }
}
